.one{
  height: 100vh;
  display: flex;
  background-color: rgb(7, 7, 7);
  color: white;
}
.main{
    width: 75%;
    background: linear-gradient(to bottom, rgba(126, 125, 125, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./assets/night.jpg") center ;   
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.top{
    height: 50%;
    position: relative;
}
.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 100px;
} 
.end{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: x-large;    
}


.bottom{
    height: 50%;

}
.pyramid{
    width: 25%;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Number{
    font-size: 18px;
    font-weight: 100;
}
.Amount{
    font-size: 20px;
    font-weight: 300;
}
.mlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.mitem{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.mitemA{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgb(22, 218, 218);

}
.mitem:active{  
    background-color: rgb(22, 218, 218);
}
 /* max width 780 px */
@media screen and (max-width: 780px) {
     
    .pyramid{
        width: 20%;
        font-size: 5px;

    }
    .mitem{
        font-size: 5px;

    }
    .mitemA{
        font-size: 5px;

    }
    .Number{
        font-size: 2px;

    }
    .Amount{
        font-size: 2px;

    }
 
}

.Number{
    font-size: 18px;
    font-weight: 100;
    width: 30%;

}
.Amount{
    font-size: 20px;
    font-weight: 300;
    /* width: 0%; */
}
